@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-weight: 700;
}
p,
a {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
a:hover {
  transition: all 0.3s ease-in-out;
}
.section-title {
  margin-bottom: 4.5rem;
  font-size: 4rem;
  text-transform: uppercase;
}
@media (max-width: 37.5em) {
  .section-title {
    font-size: 2.8rem;
  }
}
.dark-blue-color {
  color: #272341;
}
.text-color-main {
  margin-left: 1rem;
  color: #5b86e5;
  -webkit-text-fill-color: #5b86e5;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or
  (-webkit-background-clip: text) {
  .text-color-main {
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }
}
@media (max-width: 37.5em) {
  .text-color-main {
    margin: 0;
    background-image: none;
    -webkit-text-fill-color: #5b86e5;
    box-shadow: none;
  }
}
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
.cta-btn:hover {
  box-shadow:
    1.5px 1.5px 3px rgba(174, 174, 192, 0.4),
    -1px -1px 3px #fff;
}
@media (max-width: 37.5em) {
  .cta-btn:hover {
    box-shadow: none;
  }
}
.cta-btn::after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  width: 0px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
@media (max-width: 37.5em) {
  .cta-btn::after {
    width: 0;
    height: 0;
    background-image: none;
  }
}
.cta-btn--hero {
  color: #5b86e5;
  -webkit-text-fill-color: #5b86e5;
  border: 2px solid rgba(0, 0, 0, 0);
  -o-border-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  border-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
  border-image-slice: 1;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or
  (-webkit-background-clip: text) {
  .cta-btn--hero {
    background-image: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .cta-btn--hero {
    color: #5b86e5;
  }
  .cta-btn--hero:hover {
    color: #fff;
  }
}
@media (max-width: 37.5em) {
  .cta-btn--hero {
    background-image: none;
    border: 2px solid #5b86e5;
    box-shadow: none;
    -webkit-text-fill-color: #5b86e5;
  }
}
.cta-btn--hero::after {
  height: 410%;
  width: 150%;
  transform: translate(-98%, -25%) rotate(45deg);
}
.cta-btn--hero:hover {
  -webkit-text-fill-color: #fff;
  text-decoration: none;
}
@media (max-width: 37.5em) {
  .cta-btn--hero:hover {
    -webkit-text-fill-color: #5b86e5;
  }
}
.cta-btn--hero:hover::after {
  transform: translate(-9%, -25%) rotate(45deg);
}
.cta-btn--resume {
  border-radius: 0;
  color: #fff;
  border: 2px solid #fff;
}
.cta-btn--resume::after {
  background: #fff;
}
.cta-btn--resume:hover {
  color: #5b86e5;
  text-decoration: none;
  box-shadow: none;
}
@media (max-width: 37.5em) {
  .cta-btn--resume:hover {
    color: #fff;
  }
}
.cta-btn--resume:hover::after {
  width: 100%;
}
.cta-btn--projects {
  box-shadow:
    inset 1px 1px 2px 2px rgba(174, 174, 192, 0.15),
    inset -2px -2px 2px rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(0, 0, 0, 0);
}
@media (max-width: 37.5em) {
  .cta-btn--projects {
    border: none;
    box-shadow:
      1.5px 1.5px 3px rgba(174, 174, 192, 0.4),
      -1px -1px 3px #fff;
  }
}
.cta-btn--projects::after {
  height: 250%;
  width: 130%;
}
.cta-btn--projects::after {
  transform: translate(-98%, -30%) rotate(45deg);
}
.cta-btn--projects:hover {
  box-shadow:
    1.5px 1.5px 3px rgba(174, 174, 192, 0.4),
    -1px -1px 3px #fff;
}
.cta-btn--projects:hover::after {
  transform: translate(-12%, -30%) rotate(45deg);
}
section {
  padding: 5rem 0rem;
}
@media (max-width: 37.5em) {
  section {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
section .row {
  display: grid;
  gap: 0rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding: 0 1.5rem;
}
@media (max-width: 56.25em) {
  section .row {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 37.5em) {
  section .row {
    padding: 0;
  }
}
section .row p + p {
  margin-top: 1rem;
}
section .row span {
  margin-top: 2rem;
}
.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1140px;
}
@media (max-width: 75em) {
  .container {
    max-width: 960px;
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .container {
    max-width: 720px;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 48em) {
  .container {
    max-width: 720px;
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .container {
    max-width: 540px;
    width: 100%;
  }
}

.scroll-down-link {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

@keyframes hidden {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
